html, body { width:100%; height:100%; }
canvas { width:100%; height:100%; }
#wrap { position:fixed; left:0; top:0; width:100%; height:100%; z-index:1;}
.inbox { position:relative; width:100%; padding:24vw 20px 0; box-sizing:border-box;  text-align:center; margin-top:10vw; }
.inbox img { display:inline-block; max-width:100%; }
.inbox img.photo {position:absolute; left:50%; top:0; margin-left:-15vw;  width:30vw; height:30vw; }

.btngroup { position:relative; top:-7vw; font-size:0; padding:0 4vw;}
.btngroup a { display:inline-block; width:17%; padding:0 1.5%;  }

.bottomlogo {  }
.bottomlogo img { width:30vw; height:15vw;}

.inContents { display:none; position:relative; height:46.5vw; overflow:hiddne;  margin-bottom:8vw; }
.inContents .contbns { position:absolute; left:0; bottom:0; font-size:0; width:100%; height: 14vw; }
.inContents .contbns p { position:absolute; left:0; top:0; width:100%; height:100%; margin:0; padding:0;  }
.inContents .contbns a { display:inline-block;  width:50%; height:100%;  }

.inContents > div { display:none; }


#fullbtn { position:fixed; left:0; top:0; width:100%; height:100%; z-index:2; }